.et-category {
    position: relative;
    z-index: 1;
    background: url(../img/category-bg.jpg) var(--white) no-repeat center center;
    background-size: cover;
    transition: 0.4s ease;

    &:hover {
        .et-category__icon {
            background-color: var(--white);
        }

        &::before {
            opacity: 1;
        }

        &::after {
            opacity: 0;
        }

        .et-category__descr {
            color: var(--white);
        }

        a {
            color: var(--white);

            &:hover {
                color: var(--et-pink);

                svg path {
                    fill: var(--et-pink);
                }
            }

            svg path {
                fill: var(--white);
            }
        }
    }

    &::before {
        content: "";
        position: absolute;
        inset: 0;
        background: linear-gradient(0deg, rgba(120, 5, 64, 1) 0%, rgba(120, 5, 64, 0) 100%);
        z-index: -1;
        transition: 0.4s ease;
        opacity: 0;
    }

    &::after {
        content: "";
        position: absolute;
        inset: 0;
        pointer-events: none;
        z-index: -1;
        transition: 0.4s ease;
        background: var(--white);
    }

    &__icon {
        mask: url(../img/category-icon-mask.svg) center center no-repeat;
        mask-size: contain;
        background-color: rgba(var(--et-pink-rgb), 0.1);
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 0.4s ease;
    }
}


.et-5-category {
    a {
        position: relative;
        z-index: 1;

        &,
        &::before {
            clip-path: polygon(44.231% 1.858%, 44.231% 1.858%, 45.325% 1.353%, 46.459% 0.961%, 47.623% 0.68%, 48.806% 0.512%, 50% 0.456%, 51.194% 0.512%, 52.377% 0.68%, 53.541% 0.961%, 54.675% 1.353%, 55.769% 1.858%, 93.083% 21.398%, 93.083% 21.398%, 94.113% 22.005%, 95.054% 22.699%, 95.904% 23.473%, 96.656% 24.319%, 97.307% 25.228%, 97.85% 26.194%, 98.281% 27.208%, 98.595% 28.262%, 98.788% 29.349%, 98.853% 30.461%, 98.853% 69.539%, 98.853% 69.539%, 98.788% 70.651%, 98.595% 71.738%, 98.281% 72.792%, 97.85% 73.806%, 97.307% 74.772%, 96.656% 75.681%, 95.904% 76.527%, 95.054% 77.301%, 94.113% 77.995%, 93.083% 78.602%, 55.769% 98.142%, 55.769% 98.142%, 54.675% 98.646%, 53.541% 99.039%, 52.377% 99.319%, 51.194% 99.488%, 50% 99.544%, 48.806% 99.488%, 47.623% 99.319%, 46.459% 99.039%, 45.325% 98.646%, 44.231% 98.142%, 6.917% 78.602%, 6.917% 78.602%, 5.887% 77.995%, 4.946% 77.301%, 4.096% 76.527%, 3.343% 75.681%, 2.693% 74.772%, 2.15% 73.806%, 1.719% 72.792%, 1.405% 71.738%, 1.212% 70.651%, 1.147% 69.539%, 1.147% 30.461%, 1.147% 30.461%, 1.212% 29.349%, 1.405% 28.262%, 1.719% 27.208%, 2.15% 26.194%, 2.693% 25.228%, 3.343% 24.319%, 4.096% 23.473%, 4.946% 22.699%, 5.887% 22.005%, 6.917% 21.398%, 44.231% 1.858%);
        }

        &::before {
            content: "";
            position: absolute;
            inset: 4px;
            background-color: var(--et-blue);
            z-index: -1;
            transition: 0.4s ease;
        }

        &:hover {
            &::before {
                background-color: var(--black);
            }
        }
    }
}